/* .demo-tabs {
    .rv-tabs {
      margin-bottom: 20px;
    }
  
    .rv-tab__pane {
      padding: 24px 20px;
      background-color: #fff;
      font-size: 14px;
    }
  
    .rv-tabs--card .rv-tab__pane {
      background-color: transparent;
    }
  }
   */
  .size-tab-list {
    /deep/ .cv-tabs__nav--auto{
      justify-content: space-around;
      margin: 0px -20px;
    }
    /deep/ .cv-tabs--line {
      .cv-tabs__wrap {
        .cv-tab {
          font-size: 14px;
          line-height: 20px;
          @include font-Avenir-Heavy();
          color: $black;
        }
        .cv-tabs__line {
          height: 2px;
          border-radius: 0;
        }
      }
    }
  }